<div class="food-search_wrapper">
    <p class="food-search_title search-divider" for="search">Search Items</p>
    <div class="food-searchbar-wrapper">
        <input class="food-search-bar" type="search" id="search">
        <button class="food-submit-button">
            <img src="/public/assets/icons/search.png">
        </button>
    </div>
</div>

<div class="food-card-container" id="food-results"></div>

<template data-food-card-template>
    <div class="food-card-wrapper">
        <div class="food-cards">
            <div class="body"></div>
            <div class="dropdown">
                <button onclick="myFunction()" class="dropbtn">Select</button>
                <div id="myDropdown" class="dropdown-content">
                    <a href="#">Breakfast</a>
                    <a href="#">Lunch</a>
                    <a href="#">Dinner</a>
                    <a href="#">Snacks</a>
                </div>
            </div>
        </div>
    </div>
</template>

