<div class="food-diary_container">
    <div class="food-diary__block">
        <div class="food-diary__block-title-container">
            <p class="food-diary__block-title ">Breakfast</p>
        <div class="food-diary__item-container">
                <li>
                    <p>Item 1</p>
                </li>
            </div>
        </div>
        <div class="food-diary__block-title-container">
            <p class="food-diary__block-title ">Lunch</p>
        <div class="food-diary__item-container">
                <li>
                    <p>Item 1</p>
                </li>
            </div>
        </div>
        <div class="food-diary__block-title-container">
            <p class="food-diary__block-title ">Dinner</p>
        <div class="food-diary__item-container">
                <li>
                    <p>Item 1</p>
                </li>
            </div>
        </div>
        <div class="food-diary__block-title-container">
            <p class="food-diary__block-title ">Snacks</p>
        <div class="food-diary__item-container">
                <li>
                    <p>Item 1</p>
                </li>
            </div>
        </div>
    </div>
</div>
<script src="/src/js/food/foodCard-diary.js" defer></script>

