<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Food Card</title>
    <link href="/src/css/styles.css" rel="stylesheet">
    <link href="/src/css/index.css" rel="stylesheet">
    <link href="/src/css/food/foodCard-index.css" rel="stylesheet">
    <link href="/src/css/food/foodCard-search.css" rel="stylesheet">
</head>
<body>
    <!-- Header -->
    <div id="navbar-section"></div>
    <div id="header-section"></div>
    <div id="tracker-section"></div>

    <!-- Body -->
    <div class="foodCard-index-main-wrapper">
        <div class="foodCard-diary-section" id="foodCard-diary-section"></div>
        <div class="foodCard-search-section" id="foodCard-search-section"></div>
        <div class="foodCard-insight-section" id="foodCard-insight-section"></div>
    </div>

    <script src="/src/utils/loadComponents.js"></script>
    <script src="/src/utils/apis/food.js" defer></script>
</body>
</html>
