<div class="food-search_wrapper">
    <p class="food-search_title divider" for="search">Search Items</p>
    <div class="food-searchbar-wrapper">
        <input class="food-search-bar" type="search" id="search">
        <button class="food-submit-button">
            <img src="/public/assets/icons/search.png">
        </button>
    </div>
</div>

<div class="food-card-container" id="food-results"></div>

<template data-food-card-template>
    <div class="food-card-wrapper">
        <div class="food-cards">
            <div class="body"></div>
            <button>Select</button>
        </div>
    </div>
</template>
