.divider {
    border-bottom: 1px solid #646464;
}

.food-search-bar {
    font-size: 19px;
}

.food-search_title {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    padding: 2px;
    margin: 2px;
    display: flex;
}

.food-search-bar {
    width: 30vh;
    height: 40px;
}

.food-card-wrapper {
    border-style: solid;
    margin: 5px;
    border-radius: 7px;
}

.food-card-container {
    display: grid;
    grid-template-columns: auto auto auto;
}

.food-cards {
    margin: 10px;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    height: auto;
}

img {
    width: 20%;
}

.food-searchbar-wrapper {
    display: flex;
    margin: 5px;
    justify-content: flex-start;
    gap: 5px;
}

