<!-- HTML for the individual data cards (energy, water, recycling). -->
<div class="card-section">
    <div class="card-container">
        <div class="card-content-food">
            <h1><a class="card-link" id="food-card" href="/src/components/foodCard.html">Food</a></h1>
            <progress class="progress-bar" value="50" max="100"></progress>
            <p class="percentage">0%</p>
        </div>
    </div>
    <div class="card-container">
        <div class="card-content-travel">
            <h1>Travel</h1>
            <progress class="progress-bar" value="50" max="100"></progress>
            <p class="percentage">0%</p>
        </div>
    </div>
    <div class="card-container">
        <div class="card-content-home">
            <h1>Home</h1>
            <progress class="progress-bar" value="50" max="100"></progress>
            <p class="percentage">0%</p>
        </div>
    </div>
    <div class="card-container">
        <div class="card-content-clothes">
            <h1>Clothes</h1>
            <progress class="progress-bar" value="50" max="100"></progress>
            <p class="percentage">0%</p>
        </div>
    </div>
</div>
