<!-- HTML for the individual data cards (energy, water, recycling). -->
<div class="card-section">
    <div class="card-container">
        <div class="card-content-food">
            <h1>Food</h1>
        </div>
    </div>
    <div class="card-container">
        <div class="card-content-travel">
            <h1>Travel</h1>
        </div>
    </div>
    <div class="card-container">
        <div class="card-content-home">
            <h1>Home</h1>
        </div>
    </div>
</div>
<script src="../js/dataCard.js"></script> 