<!-- HTML for the section under the navbar that shows summariSed data 
 (e.g., carbon footprint). -->

 <!-- Unified Header Section -->
<div class="header-wrapper">
    <div class="header-top">
        <h1 class="header-title">Sustainability Tracker</h1>
    </div>    
    <div class="header-middle">
        <div class="tracker-container">
            <div id="tracker-section"></div>
        </div>
        <div class="header-logo-container">
            <img class="header-banner-logo" src="/public/assets/banner-logo.png" alt="Banner Logo">
        </div>
    </div>
</div>