<div class="tracker-container">
    <div class="tracker-section" id="total-carbon-emission">
        <div class="tracker-wrapper">
            <p class="tracker-title">Total Emission</p>
            <div class="tracker-content">
                <img class="tracker-icon" src="/public/assets/icons/total.png">
                <p>10.200</p>
            </div>
        </div>        
    </div>
    <div class="tracker-section" id="weekly-carbon-emission">
        <div class="tracker-wrapper">
            <p class="tracker-title">Weekly Emissions</p>
            <div class="tracker-content">
                <img class="tracker-icon" src="/public/assets/icons/weekly.png">
                <p>10.200</p>
            </div>
        </div>
    </div>
    <div class="tracker-section" id="pending">
        <div class="tracker-wrapper">
            <p class="tracker-title">Pending</p>
            <div class="tracker-content">
                <img class="tracker-icon" src="/public/assets/icons/pending.png">
                <p>10.200</p>
            </div>
        </div>
    </div>
</div>

<script src="../js/tracker.js"></script>   