
.header-wrapper {
    display: flex;
    flex-direction: column;
    background-color: #8bb336;
    padding: 20px;
    width: 100%;
    box-sizing: border-box;
    position: relative;
}

.header-top {
    display: flex;
    justify-content: flex-start; 
    align-items: center;
    width: 100%;
    padding-left: 20px;
}

.header-title {
    font-size: 35px;
    color: #284E13;
    font-weight: bold;
    margin: 0;
}


/* .header-banner-container {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    width: 50%;
} */

.header-banner-image {
    width: 150px;
    height: auto;
    padding-bottom: 10px;
}
