/* HEADER WRAPPER - Everything inside one container */
.header-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #8bb336;
    padding: 20px 20px;
    padding-bottom: 0px;
    width: 100%;
    box-sizing: border-box;
    position: relative;
}

.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: relative;
    z-index: 2;
}

.header-middle {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.header-title {
    font-size: 32px;
    color: #284E13;
    font-weight: bold;
    margin: 0;
}

.navbar-container {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.header-logo-container {
    display: flex;
    align-items: center;
}

.header-banner-logo {
    width: 180px;
    height: auto;
    padding-bottom: 10px;
}

