/* Styling for the index.html page */
body {
    margin: 0;
    font-family: 'Arial', sans-serif;
}

.dashboard-content {
    margin-top: 60px; 
}

.navbar-container {
    background-color: #8bb336;
    height: 60px;
    width: 100%;
}

.header-container {
    background-color: #8bb336;
    padding: 10px;
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-banner-logo {
    width: 200px;
    height: auto;
}


.header-title {
    color: #284E13;
    font-weight: bold;
    font-size: 39px;
    margin-left: 20px;
}

.tracker-container {
    display: flex;
    gap: 50px;
    margin-left:20px;
    margin-bottom: 10px;
}

.tracker-section {
    background-color: #fff;
    color: #284E13;
    font-size: 24px;
    font-weight: bold;
    padding: 10px;
    border-radius: 5px;
    min-width: 60px;
    text-align: center;
}

.dataCard-section {
    width: auto;
    height: auto;
    
}
