
.tracker-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: auto;
    flex-grow: 1;
    gap: 10px;
    padding: 20px;
}

.tracker-banner-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.tracker-section {
    width: 100%;
    font-size: 24px;
    color: #284E13;
    font-weight: bold;
}

.tracker-wrapper {
    display: flex;
    flex-direction: column;
    align-items: start;
    border-right: 1px solid #284E13;
    text-align: center;
}

.tracker-content {
    display: flex;
    align-items: center;
    gap: 8px;
    width: 100%;
    justify-content: flex-start;
}

.tracker-icon {
    max-width: 30px;
    height: auto;
}

.tracker-title {
    font-size: 20px;
    margin: 0;
    padding: 0;
    text-align: start;
    width: 100%;
}
